<h2><%= @movie.title %></h2>
<br>
<%= link_to "Back", movies_path %>
<%= link_to "Edit this movie", edit_movie_path %>

<ul>
  <li>Rating: <%= @movie.rating %></li>
  <li><%= @movie.overview %></li>
  <li><img src="<%= @movie.poster_url %>" alt="Wonder Woman poster"></li>
</ul>
